src/main/app/get/get_workers.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:dw="http://www.mulesoft.org/schema/mule/ee/dw" xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns:metadata="http://www.mulesoft.org/schema/mule/metadata" xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd
http://www.mulesoft.org/schema/mule/ee/dw http://www.mulesoft.org/schema/mule/ee/dw/current/dw.xsd">
	<flow name="get_workersFlow">
		<set-variable variableName="ucin" value="#[message.inboundProperties.'http.query.params'.ucin]" doc:name="Variable"/>
		<set-variable variableName="name" value="#[message.inboundProperties.'http.query.params'.first_name]" doc:name="Variable"/>
		<choice doc:name="Choice">
			<when expression="#[flowVars.ucin != null]">
				<db:select config-ref="MySQL_Configuration" doc:name="Database">
					<db:parameterized-query><![CDATA[select worker_id, ucin, active, start_date, end_date, worker.user_id, user.first_name, user.last_name, user.email, user.phone, user.role
from worker inner join user on (worker.user_id = user.user_id)
where ucin like #[flowVars.ucin]]]></db:parameterized-query>
				</db:select>
				<dw:transform-message doc:name="Transform Message" metadata:id="800b1158-0af2-4bf8-9f14-c01d9ac0264c">
					<dw:set-payload><![CDATA[%dw 1.0
%output application/json
---
payload map ((payload, indexOfPayload)->{
	worker_id: payload.worker_id,
	ucin: payload.ucin,
	start_date: payload.start_date,
	end_date: payload.end_date,
	active: payload.active,
	user: {
		user_id: payload.user_id,
		first_name: payload.first_name,
		last_name: payload.last_name,
		email: payload.email,
		phone: payload.phone,
		role: payload.role
	}
})]]></dw:set-payload>
				</dw:transform-message>
			</when>
			<when expression="#[flowVars.name != null]">
				<db:select config-ref="MySQL_Configuration" doc:name="Database">
					<db:parameterized-query><![CDATA[select worker_id, ucin, active, start_date, end_date, worker.user_id, user.first_name, user.last_name, user.email, user.phone, user.role
from worker inner join user on (worker.user_id = user.user_id)
where user.first_name like #[flowVars.name]]]></db:parameterized-query>
				</db:select>
				<dw:transform-message doc:name="Copy_of_Transform Message" metadata:id="800b1158-0af2-4bf8-9f14-c01d9ac0264c">
					<dw:set-payload><![CDATA[%dw 1.0
%output application/json
---
payload map ((payload, indexOfPayload)->{
	worker_id: payload.worker_id,
	ucin: payload.ucin,
	start_date: payload.start_date,
	end_date: payload.end_date,
	active: payload.active,
	user: {
		user_id: payload.user_id,
		first_name: payload.first_name,
		last_name: payload.last_name,
		email: payload.email,
		phone: payload.phone,
		role: payload.role
	}
})]]></dw:set-payload>
				</dw:transform-message>

			</when>
			<otherwise>
				<db:select config-ref="MySQL_Configuration" doc:name="Database">
					<db:parameterized-query><![CDATA[select worker_id, ucin, active, start_date, end_date, worker.user_id, user.first_name, user.last_name, user.email, user.phone, user.role
from worker inner join user on (worker.user_id = user.user_id)]]></db:parameterized-query>
				</db:select>
				<dw:transform-message doc:name="Copy_of_Transform Message" metadata:id="800b1158-0af2-4bf8-9f14-c01d9ac0264c">
					<dw:set-payload><![CDATA[%dw 1.0
%output application/json
---
payload map ((payload, indexOfPayload)->{
	worker_id: payload.worker_id,
	ucin: payload.ucin,
	start_date: payload.start_date,
	end_date: payload.end_date,
	active: payload.active,
	user: {
		user_id: payload.user_id,
		first_name: payload.first_name,
		last_name: payload.last_name,
		email: payload.email,
		phone: payload.phone,
		role: payload.role
	}
})]]></dw:set-payload>
				</dw:transform-message>

			</otherwise>
		</choice>
	</flow>
</mule>
