src/main/app/get/get_type_of_service.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:dw="http://www.mulesoft.org/schema/mule/ee/dw" xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns:json="http://www.mulesoft.org/schema/mule/json" xmlns:metadata="http://www.mulesoft.org/schema/mule/metadata" xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/json http://www.mulesoft.org/schema/mule/json/current/mule-json.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd
http://www.mulesoft.org/schema/mule/ee/dw http://www.mulesoft.org/schema/mule/ee/dw/current/dw.xsd">
	<flow name="get_type_of_servicesFlow">
		<set-variable variableName="name" value="#[message.inboundProperties.'http.query.params'.name]" doc:name="Variable"/>
		<set-variable variableName="uuid" value="#[function:uuid]" doc:name="Variable"/>
		<logger message="#[flowVars.uuid]" level="INFO" doc:name="Logger"/>
		<choice doc:name="Choice">
			<when expression="#[flowVars.name != null]">
				<db:select config-ref="MySQL_Configuration" doc:name="Database">
					<db:parameterized-query><![CDATA[Select type_of_service_id, name, description, type_of_service.actual, price, service.service_id, service.service_name
from type_of_service inner join service on (type_of_service.service_id = service.service_id) 
where name like #[flowVars.name]]]></db:parameterized-query>
				</db:select>
				<dw:transform-message doc:name="Transform Message">
					<dw:set-payload><![CDATA[%dw 1.0
%output application/json
---
payload map ((payload, indexOfPayload)->{
	type_of_service_id: payload.type_of_service_id,
	actual: payload.actual as :boolean,
	description: payload.description as :string,
	name: payload.name as :string,
	price: payload.price as :string,
	service: {
		service_id: payload.service_id,
		service_name: payload.service_name as :string
	}
})]]></dw:set-payload>
				</dw:transform-message>
			</when>
			<otherwise>
				<db:select config-ref="MySQL_Configuration" doc:name="Database">
					<db:parameterized-query><![CDATA[Select type_of_service_id, name, description, type_of_service.actual, price, service.service_id, service.service_name
from type_of_service inner join service on (type_of_service.service_id = service.service_id) 
order by type_of_service_id]]></db:parameterized-query>
				</db:select>
				<dw:transform-message doc:name="Transform Message">
					<dw:set-payload><![CDATA[%dw 1.0
%output application/json
---
payload map ((payload, indexOfPayload)->{
	type_of_service_id: payload.type_of_service_id,
	actual: payload.actual as :boolean,
	description: payload.description as :string,
	name: payload.name as :string,
	price: payload.price as :string,
	service: {
		service_id: payload.service_id,
		service_name: payload.service_name as :string
	}
})]]></dw:set-payload>
				</dw:transform-message>
			</otherwise>
		</choice>
	</flow>
</mule>
