target/classes/put/put_reservation.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns:json="http://www.mulesoft.org/schema/mule/json" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/json http://www.mulesoft.org/schema/mule/json/current/mule-json.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd">
	<flow name="put_reservationFlow">
		<set-variable variableName="id" value="#[message.inboundProperties.'http.uri.params'.get('reservation_id').toString()]" doc:name="Variable"/>
		<json:json-to-object-transformer returnClass="java.util.HashMap" doc:name="JSON to Object"/>
		<set-variable variableName="object" value="#[payload]" doc:name="Variable"/>
		<db:update config-ref="MySQL_Configuration" doc:name="Database">
			<db:parameterized-query><![CDATA[update reservation	
set		reservation_id = #[payload.reservation_id], 
		date = #[payload.date], 
		time = #[payload.time],
		customer_id = #[payload.customer.customer_id],
		type_of_service_id = #[payload.type_of_service.type_of_service_id],
		confirmation = #[payload.confirmation],
		price = #[payload.price],
		description = #[payload.description],
		manager_id = #[payload.manager_id],
		worker_id = #[payload.worker.worker_id]
where reservation_id = #[flowVars.id]]]></db:parameterized-query>
		</db:update>
		<choice doc:name="Choice">
			<when expression="#[payload == 0]">
				<db:insert config-ref="MySQL_Configuration" doc:name="Database">
					<db:parameterized-query><![CDATA[insert into reservation values ( 
#[flowVars.object.reservation_id], 
#[flowVars.object.date],
#[flowVars.object.time],
#[flowVars.object.customer.customer_id], 
#[flowVars.object.manager_id],
#[flowVars.object.worker.worker_id],
#[flowVars.object.status.status_id],
#[flowVars.object.type_of_service.type_of_service_id],
#[flowVars.object.confirmation],
#[flowVars.object.description],
#[flowVars.object.price]
)]]></db:parameterized-query>
				</db:insert>
				<set-payload value="#['Successful post']" doc:name="Set Payload"/>
			</when>
			<otherwise>
				<set-payload value="#['Successful update']" doc:name="Set Payload"/>
			</otherwise>
		</choice>
		<choice-exception-strategy doc:name="Copy_of_Choice_Exception_Strategy">
			<catch-exception-strategy when="#[exception.causeMatches('java.sql.SQLIntegrityConstraintViolationException')]" doc:name="Copy_of_Exception Strategy">
				<set-payload value="#[&quot;Exception!   -----&gt;    &quot;  + exception]" doc:name="Copy_of_Set Payload"/>
				<set-property propertyName="http.status" value="500" doc:name="Copy_of_Property"/>
				<logger message="&quot;Constraint error&quot;" level="INFO" doc:name="Copy_of_Logger"/>
			</catch-exception-strategy>
			<catch-exception-strategy when="#[exception.causeMatches('com.mysql.cj.jdbc.exceptions.MysqlDataTruncation')]" doc:name="Copy_of_Exception Strategy">
				<set-payload value="#[&quot;Data truncation!   -----&gt;    &quot; + exception]" doc:name="Copy_of_Set Payload"/>
				<set-property propertyName="http.status" value="500" doc:name="Copy_of_Property"/>
				<logger message="&quot;Data error&quot;" level="INFO" doc:name="Copy_of_Logger"/>
			</catch-exception-strategy>
			<catch-exception-strategy when="#[exception.causeMatches('java.sql.SQLException')]" doc:name="Copy_of_Exception Strategy">
				<set-payload value="#[&quot;Data truncated for column...    -----&gt;    &quot; + exception]" doc:name="Copy_of_Set Payload"/>
				<set-property propertyName="http.status" value="500" doc:name="Copy_of_Property"/>
				<logger message="&quot;Data error&quot;" level="INFO" doc:name="Copy_of_Logger"/>
			</catch-exception-strategy>
			<catch-exception-strategy when="#[exception.causeMatches('java.lang.IllegalArgumentException')]" doc:name="Copy_of_Copy_of_Exception Strategy">
				<set-payload value="#[&quot;Exception!   -----&gt;    &quot;  + exception]" doc:name="Copy_of_Copy_of_Set Payload"/>
				<set-property propertyName="http.status" value="500" doc:name="Copy_of_Copy_of_Property"/>
				<logger message="&quot;Illegal argument&quot;" level="INFO" doc:name="Copy_of_Copy_of_Logger"/>
			</catch-exception-strategy>
		</choice-exception-strategy>
	</flow>
</mule>
