target/classes/get_by_id/get_services_by_id.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:dw="http://www.mulesoft.org/schema/mule/ee/dw" xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns:metadata="http://www.mulesoft.org/schema/mule/metadata" xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd
http://www.mulesoft.org/schema/mule/ee/dw http://www.mulesoft.org/schema/mule/ee/dw/current/dw.xsd">
	<flow name="get_services_by_idFlow">
		<set-variable variableName="id" value="#[flowVars.service_id]" doc:name="Variable"/>
		<db:select config-ref="MySQL_Configuration" doc:name="Database">
			<db:parameterized-query><![CDATA[Select service_id, service_name, actual
from service
where service_id = #[flowVars.id]]]></db:parameterized-query>
		</db:select>
		<choice doc:name="Choice">
			<when expression="#[payload.size() == 0]">
				<set-property propertyName="http.status" value="400" doc:name="Property"/>
				<set-payload value="#['Not found!']" doc:name="Set Payload"/>
			</when>
			<otherwise>
				<dw:transform-message doc:name="Transform Message" metadata:id="409122d1-f80e-4c5a-983d-84df65eb4c7a">
					<dw:set-payload><![CDATA[%dw 1.0
%output application/json
---
payload map ((payload, indexOfPayload)->{
	service_id: payload.service_id,
	service_name: payload.service_name,
	actual: payload.actual
})]]></dw:set-payload>
				</dw:transform-message>
			</otherwise>
		</choice>
	</flow>
</mule>
