target/classes/post/post_customer.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns:json="http://www.mulesoft.org/schema/mule/json" xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/json http://www.mulesoft.org/schema/mule/json/current/mule-json.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd">
	<flow name="post_customerFlow">
		<json:json-to-object-transformer returnClass="java.util.HashMap" doc:name="JSON to Object"/>
		<set-variable variableName="uuid" value="#[function:uuid]" doc:name="Variable"/>
		<db:insert config-ref="MySQL_Configuration" doc:name="Database">
			<db:parameterized-query><![CDATA[insert into customer values (#[flowVars.uuid], #[payload.user.user_id], #[payload.points])]]></db:parameterized-query>
		</db:insert>
		<set-payload value="Succesful post!" doc:name="Set Payload"/>
		<choice-exception-strategy doc:name="Choice_Exception_Strategy">
			<catch-exception-strategy when="#[exception.causeMatches('java.sql.SQLIntegrityConstraintViolationException')]" doc:name="Exception Strategy">
				<set-payload value="#[&quot;Exception!   -----&gt;    &quot;  + exception]" doc:name="Set Payload"/>
				<set-property propertyName="http.status" value="500" doc:name="Property"/>
				<logger message="&quot;Constraint error&quot;" level="INFO" doc:name="Logger"/>
			</catch-exception-strategy>
			<catch-exception-strategy when="#[exception.causeMatches('com.mysql.cj.jdbc.exceptions.MysqlDataTruncation')]" doc:name="Exception Strategy">
				<set-payload value="#[&quot;Data truncation!   -----&gt;    &quot; + exception]" doc:name="Set Payload"/>
				<set-property propertyName="http.status" value="500" doc:name="Property"/>
				<logger message="&quot;Data error&quot;" level="INFO" doc:name="Logger"/>
			</catch-exception-strategy>
			<catch-exception-strategy when="#[exception.causeMatches('java.sql.SQLException')]" doc:name="Exception Strategy">
				<set-payload value="#[&quot;Data truncated for column...    -----&gt;    &quot; + exception]" doc:name="Set Payload"/>
				<set-property propertyName="http.status" value="500" doc:name="Property"/>
				<logger message="&quot;Data error&quot;" level="INFO" doc:name="Logger"/>
			</catch-exception-strategy>
			<catch-exception-strategy when="#[exception.causeMatches('java.lang.IllegalArgumentException')]" doc:name="Copy_of_Exception Strategy">
				<set-payload value="#[&quot;Exception!   -----&gt;    &quot;  + exception]" doc:name="Copy_of_Set Payload"/>
				<set-property propertyName="http.status" value="500" doc:name="Copy_of_Property"/>
				<logger message="&quot;Illegal argument&quot;" level="INFO" doc:name="Copy_of_Logger"/>
			</catch-exception-strategy>
		</choice-exception-strategy>
	</flow>
</mule>
