target/classes/get/get_statuses.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns:json="http://www.mulesoft.org/schema/mule/json" xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd
http://www.mulesoft.org/schema/mule/json http://www.mulesoft.org/schema/mule/json/current/mule-json.xsd">
	<flow name="get_statusesFlow">
		<set-variable variableName="name" value="#[message.inboundProperties.'http.query.params'.status_name]" doc:name="Variable"/>
		<choice doc:name="Choice">
			<when expression="#[flowVars.name != null]">
				<db:select config-ref="MySQL_Configuration" doc:name="Database">
					<db:parameterized-query><![CDATA[Select status_id, status_name, description
from status
where status_name = #[flowVars.name]]]></db:parameterized-query>
				</db:select>
				<json:object-to-json-transformer doc:name="Object to JSON"/>
			</when>
			<otherwise>
				<db:select config-ref="MySQL_Configuration" doc:name="Database">
					<db:parameterized-query><![CDATA[Select status_id, status_name, description
from status
order by status_id]]></db:parameterized-query>
				</db:select>
				<json:object-to-json-transformer doc:name="Object to JSON"/>
			</otherwise>
		</choice>
	</flow>
</mule>
